body{
    margin: 0;
    padding-top: 800px;
}
.tim{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome{
    position:absolute;
    overflow: hidden;
    height: 800px;
    color: mediumseagreen;
    left:0;
    top:0;
    right:0;
    bottom:0;
    opacity: 0.83;
    background:linear-gradient(#3ac9b2 0%,#3a7fc9 100%);
    width:100%;
    height:100%;
    z-index: 9;
}
.menu{
    list-style: none;
    position: fixed;
    background-color:darkgoldenrod;
    width:100%;
    margin-top: 0px;
    top:0;
    z-index:10;
    
}
.link{
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: monospace;
    font-size: 20px;
}
.link:hover{
    font-size:25px;
    text-decoration: underline;
    background-color: aqua;
}
.line{
    height:6px;
    background-color: black;
    width:900px;
    margin:8px;
}
a{
    text-decoration: none
}
.article:hover{
    color:blue;
}
